{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th> <!-- symbol from holdings -->
                <th class="text-end">Shares</th> <!-- amount from holdings -->
                <th class="text-end">Price</th> <!-- lookup function with symbol from holdings -->
                <th class="text-end">TOTAL</th> <!-- simple operation between price and holdings -->
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td class="text-start">{{row["symbol"]}}</td>
                <td class="text-end">{{row["amount"]}}</td>
                <td class="text-end">{{ "%.2f"|format(row["price"])}}</td>
                <td class="text-end">{{  "%.2f"|format(row["value"])}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ "%.2f"|format(userCash[0]['cash'])}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ "%.2f"|format(totalCash)}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
